@font-face {
    font-family: 'BF';
    src: url('Black Future.otf') format('opentype');
}

body {
    background-color: darkgray;
    margin: auto;
    font-family:BF;
}

/* Banner */
.banner {
    background-color: #000000;
}
.banner_content {
    display: flex;
    .banner_img {
        width: 160px;
        height: auto;
    }
    .banner_text {
        font-size: 40px;
        color: #ffffff;
        margin: auto 0px;
    }
}

  /* barra de navegação*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}


li a:hover {
  background-color: #333;
}

  /* Parte principal da página*/

.row1{
  display: flex;
 
}
.row2{
  display: flex;
  margin: 0%;
}


.text{
  /* padding-top: 20px; */
  color: #000000;
  text-align: center;
  background-image: linear-gradient(to right, #000, #272727);
  background-color: #000 ; 
  padding: 20px;
  font-size: 2rem;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  color: #fff;
 
}

.boa-vindas{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}

.colum1{
    background-image: url(../img/pessoa1site.jpg);
    width: 50%;
    background-size: 100% 500px;
    height: 500px;
    grid-row:1;

}

#text1{
  position: absolute;
  font-size: 230%;
  color: white;
  margin: 70px 0 0 50px;
  font-family:BF;

}

.colum2{
  background-color: #000000;
  width: 50%;
  height: 500px;
  grid-row: 1;
  float:right;
  border-bottom:#AA0303 2px;
  }
#text2{
  color: white;
  font-size: 230%;
  text-align: center;
  margin-top: 100px;
  font-family:BF;
  border-bottom:#AA0303 80px;

}
  .colum3{
    width: 50%;
    background-color:black;
    height: 500px;
    background-size: 100% 500px;
  }
  #text3{
    font-size: 230%;
    color: white;
    margin: 70px 0 0 50px;
    font-family:BF;
    text-align: center;
    margin-right: 40px;
  }
  .colum4{
    background-image: url(../img/pessoasite2.jpg);
    background-size: 100% 500px;
    width: 50%;
    height: 500px;
    float:left;
  }
  #text4{
    color: white;
    font-size: 230%;
    text-align: right;
    margin-top: 70px;
    font-family:BF;
    border-bottom:#AA0303 2px;
    margin-right: 50px;
  }
  .botao{
    font-family: BF;
    justify-self: left;
    border-radius: 15px;
    border: solid #AA0303;
    width: 180px;
    height: 100px;
    background-color:#AA0303;
    color: white;
    margin-left: 285px;
    margin-top: 20px;
    font-size: 140%;

  }
  a{
    text-decoration: none;
    font-size: 25px;
    color: white;

  }
