* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 400px;
    background-color: #BE3144;
    width: 100%;
    height: 500px;
    margin: 0 10px;
    box-shadow: 0 1px 10px gray;
    padding: 10px;
    border-radius: 5px;
  }
  
  .logo {
    background-color: #3d3d3d99;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .logo i {
    font-size: 200px;
  }
  
  #musicName {
    white-space: nowrap; 
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
  }
  
  .controls button {
    border: none;
    background-color: #BE3144;
    cursor: pointer;
  }
  
  .controls i {
    font-size: 60px;
    padding: 5px;
    border-radius: 50%;
    background-color: #000;
    transition: all .2s;
    color: #fff;
  }
  
  .controls i:hover {
    background-color: lightgray;
  }
  
  .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .time span {
    font-size: 22px;
    color: #333;
  }
  
  .content-progress {
    width: 100%;
  }
  
  .progress-bar {
    height: 8px;
    background-color: #ddd;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .progress {
    height: 8px;
    background-color: #333;
    border-radius: 5px;
  }