@font-face {
  font-family: 'BF';
  src: url('Black Future.otf') format('opentype');
}
main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to right, #000, #343434);
  background-image: linear-gradient(to right,#000, #413F42);
  background-color: #333;
  color: #ddd;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin:auto;
}

/* Banner */
.banner {
  background-color: #000000;
}
.banner_content {
  display: flex;
  .banner_img {
      width: 160px;
      height: auto;
  }
  .banner_text {
      font-size: 40px;
      color: #ffffff;
      margin: auto 0px;
      font-family: BF;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#000000;
  display: flex;
  justify-content: left;
  font-family: BF;
  font-size: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}


li a:hover {
  background-color: #333;
}

img {
  width: 300px;
  height: 300px;
}

.description {
  width: 300px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h2 {
  margin-bottom: 5px;
}

.duration {
  width: 300px;
  margin-top: 25px;
}

.bar {
  width: 300px;
  height: 6px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

progress {
  height: 6px;
  width: 0;
  background-color: #333;
}

.ponto {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: -10px;
}

.time {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.player {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.play-button, .pause-button {
  font-size: 50px;
  cursor: pointer;
}

.setas {
  font-size: 40px;
  cursor: pointer;
}

.hide {
  display: none;
}
