body {
    background-color: darkgray;
    margin: auto;
}

/* Banner */
.banner {
    background-color: #000000;
}

.banner_content {
    display: flex;
    .banner_img {
        width: 160px;
        height: auto;
    }
    .banner_text {
        font-size: 40px;
        color: #ffffff;
        margin: auto 0px;
    }
}

/* Search */
.search {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
}
.search_content {
    background-color: lightcoral;
    grid-column: 1;
}
.search_result {
    grid-column: 1;
    display:block;
}
.result {
    display: flex;
}
.result {

}