@font-face {
  font-family: 'BF';
  src: url('Black Future.otf') format('opentype');
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #fff;
}
.banner {
  background-color: #000000;
}
.banner_content {
  display: flex;
  .banner_img {
      width: 160px;
      height: auto;
  }
  .banner_text {
      font-size: 40px;
      color: #ffffff;
      margin: auto 0px;
      font-family: BF;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#000000;
  display: flex;
  justify-content: left;
  font-family: BF;
  font-size: 120%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}


li a:hover {
  background-color: #333;
}

main{
  background-position: center;
  background-size: cover;
  background-image: url("../img/fundoIndex.jpg");
}
.content{
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

main::before{

  min-height: 600px;
  min-width: 600px;
  background-color: #000;
  opacity:1.9;

  
}

.content-text{
  padding: 120px;
  border-radius: 60px;
  opacity: .7;
  font-weight: bold;
  font-size: 2.4rem;
  background-color: #000;
  font-family: BF;
}




/* Banner */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    
  }
  li img {
    width: 70px;
    height: auto;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  .nav_text {
    padding: 31px;
  }